<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Noticia</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<tr>
				<td>Id</td>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>
			<tr>
				<td><%= noticias[0].id %></td>
				<td><%= noticias[0].titulo %></td>
				<td><%= noticias[0].noticia %></td>
			</tr>
		</table>
	</body>
</html>